.real-time-conditions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.map-controls-container {
    display: flex;
    flex-direction: row;
}

.map-control-button {
    color: black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #dedede;
    padding: 10px;
    margin: auto 10px;
    text-align: center;
}

.map-control-button:hover {
    cursor: pointer;
}

.map-control-button-active {
    background-color: aliceblue;
}

.time-plot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.compass-plot {
    font-size: 20px;
}

.time-plot-container > .compass-plot {
    width: 500px;
    height: 500px;
}

#compass-title {
    font-size: 15px;
}

#compass-number {
    font-size: 30px;
}

#compass-unit {
    font-size: 30px;
}

.line-plot {
    width: 800px;
    height: 500px;
    overflow: visible;
    pointer-events: all;
}

.line-plot-title {
    font-size: 12px;
    margin-left: 3%;
}

.line-plot-subtitle {
    font-size: 2em;
    margin-bottom: 10px;
    margin-left: 3%;
}

.line-plot-label, .line-plot-cursor {
    font-size: 12px;
}


.line-plot>#cursor {
    display: none;
}

.station-map-container {
    max-width: 400px;
    position: relative;
    align-self: flex-start;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px;
}

.station-map-title {
    font-size: 22px;
}

.station-map-desc {
    margin-bottom: 10px;
    font-size: 12px;
}

.station-map-container>img {
    width: 100%;
    display: block;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.station-map-container>svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.image-container {
    width: 100%;
    /* min-height: 600px; */
    position: relative;
}

.image-container > img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 600px;
}

.page-description-container {
    position: absolute;
    width: 800px;
    left: 50%;
    top: 50%;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px black;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 40, 81, 0.5);
    padding: 30px;
}

.page-description-title {
    font-size: 35px;
}

.page-description {
    margin-top: 20px;
}

@media only screen and (max-width: 900px) {
    .page-description-container {
        width: 95%;
        left: 0%;
        top: 50%;
        transform: translate(2.5%, -50%);
    }
}

@media only screen and (max-width: 600px) {
    #lake-conditions-img {
        height: 700px;
    }
}

@media only screen and (max-width: 450px) {
    #lake-conditions-img {
        height: 900px;
    }
}

@media only screen and (max-width: 360px) {
    #lake-conditions-img {
        height: 1000px;
    }
}

@media only screen and (max-width: 330px) {
    #lake-conditions-img {
        height: 1100px;
    }
}

.bold {
    font-weight: bold;
}

.content-wrapper {
    position: relative;
}

@media only screen and (max-width: 1300px) {
    .real-time-conditions-container {
        flex-direction: column-reverse;
    }

    .time-plot-container {
        margin-top: 50px;
        width: 100%;
        flex-direction: column-reverse;
    }
    
    .time-plot-container > .compass-plot {
        max-width: 400px;
        width: auto;
        height: auto;
    }

    .map-controls-container {
        margin-bottom: 30px;
    }

    .station-map-container {
        max-width: 400px;
        position: relative;
        margin: auto;
    }
}

@media only screen and (max-width: 850px) {
    .line-plot-container {
        width: 100%;
    }

    .time-plot-container .line-plot {
        width: auto;
        height: auto;
    }

    .line-plot-label, .line-plot-cursor {
        font-size: 12px;
    }
}