.calendar {
    margin-top: 60px;
    position: relative;
    font-size: 10px;
    user-select: none;
}

.calendar-block-container {

}

.calendar-day {
    position: absolute;
    transform: translate(-50%, -150%);
    white-space: nowrap;
    font-size: 12px;
}

.calendar-timeline {
    position: relative;
}

.calendar-event {
    position: absolute;
    background-color: var(--BLUE);
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-event:hover {
    background-color: var(--GOLD);
    color: black;
    cursor: pointer;
}

.calendar-active-event {
    background-color: var(--GOLD);
    color: black;
    font-weight: bold;
}

.calendar-hour {
    white-space: nowrap;
    position: absolute;
    transform: translate(-125%, -50%);
}

.calendar-hour-line {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    height: 1px;
    right: -5px;
}

.calendar-day-line {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 1px;
    top: -5px;
    bottom: -5px;
}