.current-chart-container {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.current-chart-left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Water Flow Description */

.current-chart-description-container {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.current-chart-title {
    font-size: 35px;
    font-weight: 400;
}

.current-chart-description {
    margin-top: 20px;
    max-width: 500px;
    line-height: 1.3em;
}


/* Lake Forecast Information */

.current-chart-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.current-chart-date {
    font-size: 20px;
}

.current-chart-speed {
    margin-top: 5px;
}

.current-chart-controls {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.current-chart-control-button {
    color: black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #dedede;
    padding: 10px;
    margin-right: 10px;
    transition: box-shadow 0.2s ease-in;
}

.current-chart-control-button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 20px #dedede;
}


/* Legend CSS */

.current-legend-container {
    display: flex;
    flex-direction: column;
}

.current-legend-container > * {
    margin: 7px 0px;
}

.current-legend-box-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.current-legend-box-units {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 7px;
    font-size: 12px;
}