/* Legend CSS */

.temperature-legend-container {
    position: relative;
    margin-left: 20px;
    display: flex;
}

.temperature-legend-units {
}

.temperature-legend-unit {
    font-size: 10px;
    position: absolute;
    transform: translate(0%, -50%);
    display: flex;
    align-items: center;
}

.temperature-legend-unit::before {
    content: '';
    width: 15px;
    height: 0.5px;
    background-color: black;
    margin-right: 3px;
    transform: translate(-10%, 0%);
}