.text {
  display: block;
  width: 50%;
}

.missionP {
  margin: 0.75em 15px 0.25em;
}

ul {
  margin: 15px;
  list-style: none;
}
.aboutUsPic {
  width: 100%;
  height: 633px;
  object-fit: cover;
  object-position: 50% 50%;
}

h2 {
  margin: 0.75em 15px 0.25em;
  padding: 0;
  color: #022851;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
  color: #13639e;
  font-size: 2.6055rem;
}

/* .picHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.lakeTahoePic {
  object-fit: cover;
  min-width: 100%;
  height: 350px;
}

.info {
  padding: 0px 10px 10px;
}

.pageStack {
  list-style: none;
  display: flex;
  align-items: center;
}

.pageStack > li {
  display: grid;
  padding: 36px 5px;
}

.stack {
  display: flex;
  align-items: center;
  height: 20px;
}

.currPage {
  color: 4c4c4c;
}

.pageStack > li > a {
  text-decoration: none;
  color: #355b85;
  font-weight: bolder;
} */
