* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: white;
}

.title--name {
  margin-right: auto;
  color: black;
  font-weight: 700;
  font-size: 22px;
}

.title-and-logo {
  display: flex;
  align-items: center;
  background-color: white;
  height: 90px;
  padding: 30px 25px;
}

.logo--icon {
  height: 50px;
}
