.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 450px;
  height: 100px;
  background-color: red;

  margin: auto;
}

.box > p {
  color: white;
  margin-bottom: 1px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.model-figure-container {
    display: flex;
    justify-content: center;
}

.model-figure-container > * {
    margin: 50px 50px;
}


.fig-container {
    height: 600px;
}

.fig-container > img {
    display: block;
    height: 100%;
}