.content {
  display: flex;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.left {
  flex: 1;
  padding: 1rem;
}

.right {
  flex: 1;
  padding: 1rem;
}

.GP1 {
  display: flex;
  width: 30%;
}

.missionP {
  margin: 0.75em 15px 0.25em;
}

.names {
  justify-content: center;
  padding-bottom: 15px;
}

.pictures {
  padding-bottom: 5px;
}

.team {
  display: flex;
  width: 50%;
}

.address-list {
  margin: 15px;
  list-style: none;
}

.page-description-container {
  position: absolute;
  left: 50%;
  top: 50%;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px black;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(2, 40, 81, 0.5);
  padding: 30px;
}

.page-description-title {
  font-size: 50px;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    max-width: 700px;
    padding: 5px;
}

.about-us-container > * {
    margin-bottom: 50px;
}

.about-us-container a {
    font-style: italic;
    color: var(--BLUE);
}

h2 {
  margin: 0em 0px 0.25em;
  padding: 0;
  color: #022851;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
  color: #13639e;
  font-size: 2.6055rem;
}

@media only screen and (max-width: 630px) {
  .content {
    display: block;
  }
  .GP1 {
    display: flex;
    width: 50%;
  }
}
