* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: white;
}

.title--name {
  margin-left: 20px;
  color: var(--BLUE);
  font-size: 30px;
}

.title-and-logo {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
}

.logo--icon {
  height: 50px;
  margin: 20px 0px;
}

.header-container {
    display: flex;
    flex-direction: row;
    background-color: white;
}