/* Legend CSS */

.current-legend-container {
    display: flex;
    flex-direction: column;
}

.current-legend-container > * {
    margin: 7px 0px;
}

.current-legend-box-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.current-legend-box-units {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 7px;
    font-size: 12px;
}